@font-face{
    font-family: Pixel;
    src: url(../assets/fonts/HomeVideo-BLG6G.ttf)
}
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.pixel-corners {
  border: 8px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 12px,
    12px 12px,
    12px 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px));
}

input:active, input:focus {
    outline: none !important;
}
body {
    background-image: url(./images/mnIntro1.png);
    background-size: cover; 
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login {
    background-image: url(./images/yellowbg1.png) ;
    background-size: 100%;
    background-repeat: no-repeat; 
    font-family: Pixel;
}
.submit {
    background-image: url(./images//ycLoginEnter.png);
    background-repeat: no-repeat;
    background-size: 26%;
    background-position: center;
    min-width: fit-content;
    padding: 16px;
}
.submit p {
    transform: translateY(-10%);
}
.transition-page{
    position: absolute;
    height: 100vh;
    animation: transition 0.6s ease-in-out forwards;
    /* border-top:  rgb(232, 161, 18) solid 32px; */
}
@keyframes transition {
    from {
        bottom: -100%;   
    } to {
        bottom: 0;
    }
}