@font-face{
    font-family: Pixel;
    src: url("../../public/HomeVideo-BLG6G.ttf")
}
.pixel{
    font-family: Pixel !important;
}
input:active, input:focus {
    outline: none !important;
}
body {
    background-image: url("https://raw.githubusercontent.com/nelimalu/yapchain/main/client/src/assets/images/mnIntro1.png");
    background-size: cover; 
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.submit {
    background-image: url("https://raw.githubusercontent.com/nelimalu/yapchain/main/client/src/assets/images/ycLoginEnter.png");
    background-repeat: no-repeat;
    background-size: 26%;
    background-position: center;
    min-width: fit-content;
    padding: 16px;
}
.submit p {
    transform: translateY(-10%);
}
.transition-page{
    position: absolute;
    height: 100vh;
    animation: transition 0.6s ease-in-out forwards;
    /* border-top:  rgb(232, 161, 18) solid 32px; */
}
@keyframes transition {
    from {
        bottom: -100%;   
    } to {
        bottom: 0;
    }
}
.btn {
    padding: 128px 64px;
    background-color: #525FE1 !important;
    border: 2px solid black;
    color: white!important;
    
}
.btn.full{
    width: 100%;
}